Edit form

<form class="" action="/foodreviews/<%= @foodreview.id%>" method="post">
    <input type="hidden" name="_method" value="patch">
    <label for="content">Content:</label>
    <textarea name="content" style="width:auto; height:auto,"><%= @foodreview.content%></textarea>
    <input type="submit" name="" value="Edit Entry">
</form>
