All Food Reviews


<ul>
    <% @foodreview.each do |foodreview| %>
        <li><a href="/foodreviews/<%= foodreview.id%>"><%= foodreview.content %></a></li>
        <p><%= foodreview.created_at %></p>
    <% end %>
</ul>