All Restaurant Reviews

<% @foodreview.each do |foodreview| %>
    <h4><%=foodreview.created_at %></h4>
    <p><a href="/foodreviews/<% foodreview.id %>"><%= foodreview.content %></a></p>
    <br><br>
<% end %>