<h2> Create a new Review: <h2>

<form class="" action="/foodreviews" method="post">
    <label for="content">Review:</label>
    <input type="text" name="content" id="content">
    <input type="submit" value="Create Entry">
</form>