NEW ENTRIES!

<p><%= @foodreview.content %></p>
<p><%= @foodreview.created_at %></p>
 
<a href="/foodreviews/<%= @foodreview.id %>/edit">Edit Entry</a>

<form action="/foodreviews/<%= @foodreview.id %>" method= "post">
    <input type="hidden" name="_method" value="delete"> 
    <input type="submit" value="delete">
</form>
