Hi Please log in!
<br><br>
<form action="/login" method="POST">
    <p>
        <label for="email">Email:</label>
        <input type="text" name="email" id="user_email" placeholder="email" />
        <label for="password">Password:</label>
        <input type="password" name="password"id="user_password" placeholder="password"/>
        <input type= "submit" value="login" />
</form>
<a href="/">Back</a>