<h1>This is the signup page!</h1>


<form action="/users" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" id="user_username"/>
        <label for="email">Email:</label>
        <input type="text" name="email" id="user_username"/>
        <label for="password">Password:</label>
        <input type="password" name="password" id="user_password"/>
    <input type= "submit" value="Register" />
</form>
 
<a href="/">Home</a>